---
import Layout from '../layouts/Layout.astro';
import Quote from '../components/Quote.astro';
import { getCollection } from 'astro:content';
const quotes: Array<quote> = await getCollection('quotes');
interface quote {
	id: string;
	data: { author: string; url?: string; source?: string; category?: string };
}
---

<Layout
	title="Page not found!"
	description="The page you are looking for could not be found."
	><section class="col-center">
		<p>The page you are looking for could not be found!</p>
		<p>
			Your best for finding whatever you're looking for is to <a href="/">
				go back to the index
			</a>.
		</p>
		<p>Meanwhile, here's some wisdom:</p>

		<div id="quote-display">
			<figure class="quote">
				<blockquote></blockquote>
				<figcaption>
					<cite></cite>
				</figcaption>
			</figure>
		</div>
		<div
			hidden
			id="quote-store">
			{
				quotes.map((quote) => {
					const { source, url, category, author } = quote.data;
					return (
						<Quote
							id={quote.id}
							source={source}
							url={url}
							category={category}
							author={author}
						/>
					);
				})
			}
		</div>
		<style>
			a[href=''],
			a:not([href]) {
				text-decoration: none;
			}
			.source {
				margin-inline-start: 1ch;
				font-style: normal;
				text-transform: uppercase;
				font-size: 0.8rem;
			}
		</style>
		<script type="module">
			import quotes from '/js/quotes.js';
			const quoteDisplay = document.querySelector('#quote-display');
			const quote = quotes[Math.floor(Math.random() * quotes.length)];
			console.log(quote);
			quoteDisplay.innerHTML = `
    <figure class="quote">
	<blockquote style="padding-block-start:0">
		${quote.text}
	</blockquote>
	<figcaption>
		<cite>
			<span class="author">${quote.author}</span>
			${
				quote.source ?
					`<div class="source">
				${quote.url ? `<a href=${quote.url}>` : ''}
					${quote.source}
				${quote.url ? '</a>' : ''}`
				:	''
			}
			</div>
		</cite>
	</figcaption>
</figure>`;
		</script>
	</section></Layout
>
