---
import type { arrayOutputType } from 'astro:schema';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogroll = await getCollection('blogs');
---

<Layout
	title="Blogroll"
	description="Because the internet was meant to be a library, not a shopping centre, here's a list of all the blogs I follow.">
	<section class="col-center">
		<p>
			Here's a loosely categorised, irregularly updated collection of the
			feeds I follow. Because the internet was created to be a library,
			not a shopping centre. Descriptions are from the feeds themselves,
			so sorry if they're not very descriptive.
		</p>
	</section>
	<section class="col-wide">
		{
			blogroll.map((collection) => (
				<details name="feed-categories">
					<summary>
						<h2>{collection.id}</h2>
					</summary>
					<ul class="card-container">
						{collection.data.items.map(
							(blog: {
								id: string;
								description?: string;
								htmlUrl: string;
								xmlUrl: string;
							}) => (
								<li>
									<h3>
										<a
											href={blog.htmlUrl}
											target="_blank"
											rel="noopener noreferrer">
											{blog.id}
										</a>
									</h3>
									{blog.description ?
										<p>{blog.description}</p>
									:	''}
									<a
										href={blog.xmlUrl}
										target="_blank"
										rel="noopener noreferrer">
										Feed for {blog.id}
									</a>
								</li>
							)
						)}
					</ul>
				</details>
			))
		}
	</section>
	<style>
		h3 a {
			text-decoration: none;
		}
		h3 a::after {
			content: '';
		}
	</style>
</Layout>
